<div
  class="max-w-sm h-52 p-5 bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-105 space-y-4">
  <div>
    <h3 class="font-semibold text-lg text-gray-900 truncate">{{ product().name }}</h3>
    <p class="text-sm text-gray-600 line-clamp-2 my-2">{{ product().description }}</p>
    <p class="text-xl font-bold text-gray-900">{{ product().price | currency: 'USD' : 'symbol' : '1.2-2' }}</p>
  </div>

  <div class="flex items-center gap-2">
    <a
      pButton
      size="small"
      severity="secondary"
      outlined
      class="text-gray-500 hover:text-gray-700 transition-colors duration-200"
      [routerLink]="['/dashboard/products/update', product().slug]">
      <i-lucide [name]="icons.edit" class="size-4" />
    </a>

    <button
      pButton
      size="small"
      severity="danger"
      (click)="onDeleteProduct(product().id, $event)"
      class="transition-transform duration-200 hover:scale-110">
      <i-lucide [name]="icons.trash" class="size-4" />
    </button>

    <p-confirmpopup />
  </div>
</div>
