<section class="text-gray-600">
  @let isLoading = store.isLoading(); @let hasQuery = queryParams().q; @let userCount = store.entrepreneurs().length;
  @let entrepreneurList = store.entrepreneurs();
  <div class="relative bg-white rounded-lg pb-10">
    <div class="flex flex-col gap-3 mb-10 pt-6">
      <div class="px-6 flex flex-col gap-2 md:flex-row md:justify-between md:items-center mb-6 md:mb-0">
        <h5 class="text-lg font-bold">
          Liste des entrepreneurs
          <span class="text-gray-500">
            @if (isLoading) {
            <p-progress-spinner
              strokeWidth="5"
              animationDuration=".5s"
              fill="transparent"
              [style]="{ width: '0.8rem', height: '0.8rem' }" />
            } @else { [{{ userCount }}] }
          </span>
        </h5>
        <div class="flex flex-col md:flex-row md:items-center gap-2">
          <p-button
            [outlined]="true"
            [severity]="'secondary'"
            [size]="'small'"
            [routerLink]="'/dashboard/entrepreneurs/add'">
            <i-lucide [name]="icons.plus" class="size-4" />
            Ajouter un entrepreneur
          </p-button>
        </div>
      </div>
      <form [formGroup]="searchForm" class="px-6 flex flex-col gap-1 md:flex-row md:gap-4">
        <input pInputText class="md:w-1/2" formControlName="q" placeholder="Rechercher..." />
      </form>
    </div>
    @if (userCount === 0 && !isLoading) {
    <div
      class="mx-6 flex flex-col items-center justify-center py-16 px-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-2xl border-2 border-dashed border-gray-300">
      <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center shadow-sm mb-6">
        <i-lucide [name]="icons.plus" class="text-gray-400 w-10 h-10 stroke-[1.5]" />
      </div>
      <h3 class="text-2xl font-bold text-gray-800 mb-3">
        {{ hasQuery ? 'Aucun entrepreneur trouvé avec ce filtre' : 'Aucun entrepreneur trouvé' }}
      </h3>
      <p class="text-gray-600 text-center max-w-md mb-6">
        @if (hasQuery) { Essayez de modifier vos critères de recherche pour trouver des entrepreneurs. } @else {
        Commencez par ajouter votre premier entrepreneur pour gérer votre réseau. }
      </p>
      @if (!hasQuery) {
      <p-button
        [routerLink]="'/dashboard/entrepreneurs/add'"
        [size]="'small'"
        class="flex items-center gap-2 bg-primary-600 text-white hover:bg-primary-700 transition-colors duration-200">
        <i-lucide [name]="icons.plus" class="size-4" />
        <span class="font-medium">Ajouter un entrepreneur</span>
      </p-button>
      }
    </div>
    } @if (isLoading) {
    <div class="grid grid-cols-5 mx-6 my-6 border border-gray-200 rounded-lg">
      @for (i of skeletonArray; track $index) {
      <div class="border-y border-gray-200 py-3 px-6">
        <div class="h-4 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
      </div>
      }
    </div>
    } @if (userCount > 0 && !isLoading) {
    <div class="relative flex flex-col overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
      <table class="text-left rtl:text-right text-gray-500">
        <thead class="font-semibold text-gray-700 bg-gray-100 font-satoshi">
          <tr>
            <th class="px-6 py-3">Image</th>
            <th class="px-6 py-3">Nom</th>
            <th class="px-6 py-3">Email</th>
            <th class="px-6 py-3">Inscrit</th>
            <th class="px-6 py-3">Entreprises</th>
            <th class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for ( entrepreneur of entrepreneurList | paginate : { itemsPerPage: 40, currentPage: queryParams().page || 1,
          totalItems: userCount, }; track entrepreneur.id ) {
          <tr class="border-b border-gray-200 last:border-none">
            <td class="px-6 py-2">
              <p-avatar [image]="entrepreneur | apiIMG: 'user'" shape="circle" size="large" />
            </td>
            <td class="px-6 py-2 font-semibold w-60 text-sm">{{ entrepreneur.name | titlecase }}</td>
            <td class="px-6 py-2 text-sm">{{ entrepreneur.email }}</td>
            <td class="px-6 py-2 text-sm">{{ entrepreneur.created_at | date: 'shortDate' }}</td>
            <td class="px-6 py-2 text-sm">@let companies = entrepreneur.ventures; {{ companies.length }}</td>
            <td class="px-6 py-2 text-sm">
              <div class="flex items-center gap-2">
                <button type="submit" pButton outlined severity="warn">
                  <div class="relative">
                    <p-confirmpopup />
                    <i-lucide [name]="icons.lock" class="size-4" />
                  </div>
                </button>
                <a pButton outlined severity="info" [routerLink]="['/dashboard/users/edit', entrepreneur.email]">
                  <i-lucide [name]="icons.edit" class="size-4" />
                </a>
                <button pButton outlined severity="danger" (click)="onDeleteUser(entrepreneur.id, $event)">
                  <div class="relative">
                    <p-confirmpopup />
                    <i-lucide [name]="icons.trash" class="size-4" />
                  </div>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (userCount > 40) {
    <div class="flex justify-center items-center gap-3 py-8">
      <pagination-controls
        nextLabel=""
        previousLabel=""
        [autoHide]="true"
        [maxSize]="5"
        (pageChange)="onPageChange($event)"
        class="pg" />
    </div>
    }
  </div>
</section>
