<form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
    <app-ui-input
      label="Nom du projet"
      [id]="'name'"
      formControlName="name"
      class="w-full"
      placeholder="Ex: Programme de mentorat entrepreneurial" />
    <app-ui-input
      label="Durée estimée (en heures)"
      [id]="'duration_hours'"
      type="number"
      formControlName="duration_hours"
      class="w-full"
      placeholder="Ex: 100" />
    <app-ui-select
      [id]="'program_id'"
      label="Programme associé"
      [filter]="true"
      [options]="programOptions()"
      formControlName="program"
      placeholder="Sélectionner un programme"
      class="w-full" />
    <app-ui-select
      [id]="'project_manager_id'"
      label="Chef de projet"
      [options]="staffOptions()"
      [filter]="true"
      formControlName="project_manager"
      placeholder="Sélectionner un chef de projet"
      class="w-full" />
    <app-ui-multi-select
      [id]="'categories_ids'"
      label="Catégories"
      [options]="categoryOptions()"
      formControlName="categories"
      placeholder="Choisir une ou plusieurs catégories" />
    <app-ui-datepicker [id]="'started_at'" label="Date de début" formControlName="started_at" class="w-full" />
    <app-ui-datepicker [id]="'ended_at'" label="Date de fin" formControlName="ended_at" class="w-full" />
  </div>
  <div class="grid grid-cols-1 gap-6">
    <app-ui-textarea
      [id]="'description'"
      label="Présentation générale"
      formControlName="description"
      [rows]="6"
      class="w-full"
      placeholder="Présentez le projet de manière claire et concise..."></app-ui-textarea>
    <app-ui-textarea
      [id]="'context'"
      label="Contexte et justification"
      formControlName="context"
      [rows]="6"
      class="w-full"
      placeholder="Expliquez le contexte et la raison d'être du projet..."></app-ui-textarea>
    <app-ui-textarea
      [id]="'objectives'"
      label="Objectifs visés"
      formControlName="objectives"
      [rows]="6"
      class="w-full"
      placeholder="Décrivez les objectifs que le projet vise à atteindre..."></app-ui-textarea>
    <app-ui-textarea
      [id]="'selection_criteria'"
      label="Critères d'éligibilité"
      formControlName="selection_criteria"
      [rows]="6"
      class="w-full"
      placeholder="Spécifiez les critères de sélection ou d'éligibilité..."></app-ui-textarea>
  </div>
  <div class="flex justify-end gap-3 mt-8 pt-6 border-t border-gray-200">
    <app-ui-button
      [size]="'small'"
      [loading]="updateProjectStore.isLoading()"
      [disabled]="updateProjectStore.isLoading() || form.invalid"
      type="submit"
      variant="primary">
      Modifier le projet
    </app-ui-button>
  </div>
</form>
