<section class="pt-32 dashboard-main-content flex flex-col gap-4">
  @let project = projectStore.project();
  <ui-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />

  @if (projectStore.isLoading()) {
  <app-project-details-skeleton />
  } @if (activeTab() === 'details' && project) {
  <app-project-details [project]="project" />
  } @if (activeTab() === 'gallery' && project) {
  <app-project-gallery
    [project]="project"
    [gallery]="galleryStore.gallery()"
    [isLoading]="projectStore.isLoading()"
    (coverUploaded)="onCoverUploaded()"
    (galleryUploaded)="onGalleryUploaded()"
    (deleteImage)="onDeleteImage($event)" />
  } @if (activeTab() === 'edit' && project) {
  <app-project-edit-form [project]="project" />
  } @if (activeTab() === 'indicators' && project) {
  <ui-metrics-table
    [indicators]="indicatorsStore.indicators()"
    [metricsMap]="metricsMap"
    [existingMetrics]="project?.metrics ?? []"
    [isLoading]="metricsStore.isLoading()"
    (saveAll)="onSaveMetrics()" />
  } @if (activeTab() === 'phases' && project) {
  <app-project-phases [project]="project" />
  }
</section>
