@let isLoading = store.isLoading(); @let roleCount = store.roles()[1]; @let roles = store.roles()[0];
<div class="relative bg-white rounded-xl shadow-sm pb-12">
  <div class="px-6 pt-6 pb-4 border-b border-gray-100">
    <div class="flex flex-col md:flex-row gap-4 md:justify-between md:items-center mb-4">
      <div>
        <h5 class="text-2xl font-bold text-gray-900 mb-1">Rôles utilisateurs</h5>
      </div>
      <app-ui-button variant="primary" size="small" (clicked)="onToggleForm()">
        {{ formVisible() ? 'Fermer' : 'Nouveau rôle' }}
      </app-ui-button>
    </div>
    <form [formGroup]="searchForm" class="search-input-wrapper">
      <div class="search-input-group">
        <div class="search-input-icon">
          <i-lucide [name]="icons.Search" class="search-input-icon-svg" />
        </div>
        <input type="text" formControlName="q" placeholder="Rechercher" class="search-input" />
      </div>
    </form>
  </div>

  <div class="px-6">
    <div
      class="rounded-2xl border border-gray-200 bg-linear-to-br from-gray-50 to-white shadow-sm transition-all duration-500 ease-in-out overflow-hidden"
      [style.maxHeight]="formVisible() ? '400px' : '0px'"
      [style.opacity]="formVisible() ? 1 : 0"
      [style.padding]="formVisible() ? '24px' : '0 24px'"
      [style.marginTop]="formVisible() ? '24px' : '0px'">
      <form class="space-y-6" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-1">
          <h6 class="text-lg font-bold text-gray-900">
            {{ formMode() === 'edit' ? 'Modifier le rôle' : 'Ajouter un rôle' }}
          </h6>
        </div>
        <div class="space-y-2">
          <app-ui-input
            label="Nom du rôle"
            formControlName="name"
            placeholder="Ex: Administrateur, Modérateur, Éditeur..." />
        </div>
        <div class="flex items-center justify-end gap-3 pt-4 border-t border-gray-100">
          <app-ui-button type="button" size="small" variant="secondary" [outlined]="true" (clicked)="onCancelForm()">
            Annuler
          </app-ui-button>
          <app-ui-button
            type="submit"
            size="small"
            variant="primary"
            [disabled]="roleForm.invalid || store.isLoading()"
            [loading]="store.isLoading()">
            {{ formMode() === 'edit' ? 'Mettre à jour' : 'Ajouter' }}
          </app-ui-button>
        </div>
      </form>
    </div>
  </div>

  <div class="px-4 sm:px-6 mt-6">
    @if (isLoading && roleCount === 0) {
    <app-ui-table-skeleton [rows]="10" [columns]="2" />
    } @if (roleCount > 0) {
    <div class="ui-table-wrapper scrollbar-hide">
      <table class="ui-table">
        <thead class="ui-table-head">
          <tr class="ui-table-head-row">
            <th class="ui-table-header">#ID</th>
            <th class="ui-table-header">Nom du rôle</th>
            <th class="ui-table-header">Actions</th>
          </tr>
        </thead>
        <tbody class="ui-table-body">
          @for (role of roles; track role.id) {
          <tr class="ui-table-row">
            <td class="ui-table-cell">
              <p class="font-semibold text-sm">{{ role.id }}</p>
            </td>
            <td class="ui-table-cell">
              <div class="flex items-center gap-3">
                <p class="font-semibold text-gray-900">{{ role.name | titlecase }}</p>
              </div>
            </td>
            <td class="ui-table-cell">
              <div class="flex items-center gap-1">
                <button (click)="onToggleForm(role)" class="action-button-default">
                  <i-lucide [name]="icons.Pencil" class="size-4" />
                  Modifier
                </button>
                <button (click)="onDelete(role.id)" class="action-button-danger">
                  <i-lucide [name]="icons.Trash" class="size-4" />
                  Supprimer
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
    <div class="flex flex-col justify-end items-end">
      <app-ui-pagination
        [currentPage]="currentPage()"
        [totalItems]="roleCount"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)" />
    </div>
  </div>
  @if (roleCount === 0 && !isLoading) {
  <div class="mx-6 mt-16 flex flex-col items-center justify-center py-20 px-8">
    <div
      class="mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-primary-50 shadow-inner border border-primary-100">
      <i-lucide [name]="icons.Search" class="w-10 h-10 stroke-[1.5] text-primary-500" />
    </div>
    <h3 class="text-2xl font-bold text-gray-900 mb-2 text-center">Aucun rôle trouvé</h3>
    <p class="text-gray-500 text-center max-w-lg mb-8 text-base leading-relaxed">
      Nous n'avons trouvé aucun rôle correspondant à vos critères.<br />
    </p>
    <app-ui-button
      (clicked)="resetFilters()"
      variant="secondary"
      [outlined]="true"
      styleClass="text-base font-medium px-6 py-2.5 rounded-md shadow">
      <span class="flex items-center gap-2">
        <i-lucide [name]="icons.Funnel" class="w-5 h-5 text-primary-500" />
        <span>Réinitialiser les filtres</span>
      </span>
    </app-ui-button>
  </div>
  }
  <app-ui-confirm-dialog />
</div>
