@if (visible()) {
<div
  class="ui-dialog-overlay"
  [class.ui-dialog-dismissable]="dismissableMask()"
  (click)="onMaskClick()"
  tabindex="0"
  (keydown.enter)="onMaskClick()"
  (keydown.space)="onMaskClick()"
  (keydown.escape)="onMaskClick()">
  <div
    class="ui-dialog"
    [style.width]="width()"
    (keydown.enter)="$event.stopPropagation()"
    (keydown.space)="$event.stopPropagation()"
    (keydown.escape)="$event.stopPropagation()"
    (click)="$event.stopPropagation()"
    role="dialog">
    @if (header()) {
    <div class="ui-dialog-header">
      <h3 id="ui-dialog-title" class="ui-dialog-title">{{ header() }}</h3>
      <button type="button" class="ui-dialog-close" (click)="close()" aria-label="Fermer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>
    }
    <div class="ui-dialog-content">
      <ng-content />
    </div>
  </div>
</div>
}
