<section class="pt-32 pb-8 min-h-[110vh] dashboard-main-content w-full flex flex-col gap-4">
  @if (store.isLoading()) {
  <div class="animate-pulse rounded-lg bg-gray-200 h-3 w-28"></div>
  <div class="flex flex-col md:flex-row flex-wrap gap-4">
    <div class="animate-pulse bg-gray-200 h-36 rounded w-48"></div>
    <div class="flex flex-col gap-1.5 mt-2">
      <div class="mb-6">
        <div class="animate-pulse rounded-lg mb-1 bg-gray-200 h-5 w-64"></div>
        <div class="animate-pulse rounded-lg bg-gray-200 h-3 w-52"></div>
      </div>
      <div class="animate-pulse rounded-lg bg-gray-200 h-3 w-52"></div>
      <div class="animate-pulse rounded-lg bg-gray-200 h-3 w-52"></div>
      <div class="animate-pulse rounded-lg bg-gray-200 h-3 w-52"></div>
    </div>
  </div>
  <div
    class="animate-pulse rounded-lg bg-gray-200 h-52 md:h-80 w-full pb-8 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto mb-4"></div>
  <div class="animate-pulse rounded-lg bg-gray-200 h-6 w-full"></div>
  <div class="animate-pulse rounded-lg bg-gray-200 h-6 w-full"></div>
  <div class="animate-pulse rounded-lg bg-gray-200 h-6 w-full"></div>
  <div class="animate-pulse rounded-lg bg-gray-200 h-6 w-full"></div>
  <div class="animate-pulse rounded-lg bg-gray-200 h-6 w-full"></div>
  } @if (store.venture(); as venture) {
  <div class="flex flex-col md:flex-row flex-wrap gap-4">
    <div class="flex gap-5 flex-col md:flex-row">
      <div class="relative h-36 w-48 rounded bg-gray-200">
        <img
          [alt]="venture.name"
          [ngSrc]="venture | apiIMG: 'venture'"
          class="aspect-video object-cover rounded border-2 border-slate-200/10 mb-2"
          fill />
      </div>
      <div class="flex flex-col gap-1.5 mt-2">
        <h2 class="text-2xl font-bold font-satoshi">{{ venture.name }}</h2>
        <div class="flex items-center gap-2 text-gray-500">
          <span class="text-sm">{{ venture.location }}</span> &middot;
          <span class="text-sm">{{ venture.founded_at | date: 'longDate' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="relative h-52 md:h-80 w-full pb-8 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto">
    <img
      [ngSrc]="venture | apiIMG: 'ventureCover'"
      [alt]="venture.name + ' cover image'"
      class="aspect-video object-cover h-full opacity-90 rounded border-2 bg-gray-200 border-slate-200/10"
      fill
      priority />
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right text-gray-500">
      <tbody>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-satoshi font-medium text-gray-900 whitespace-nowrap">Description</th>
          <quill-view class="hyphens-none" [content]="venture.description" />
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-satoshi font-medium text-gray-900 whitespace-nowrap">Problème résolu</th>
          <td class="pr-8 text-gray-800 py-4">{{ venture.problem_solved }}</td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Marché cible</th>
          <td class="pr-8 text-gray-800 py-4">{{ venture.target_market }}</td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Étape</th>
          <td class="pr-8 text-gray-800 py-4">{{ venture.stage }}</td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Secteur</th>
          <td class="pr-8 text-gray-800 py-4">{{ venture.sector }}</td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">URL LinkedIn</th>
          <td class="pr-8 text-gray-800 py-4">
            <a [href]="venture.website" target="_blank" class="text-primary-600 hover:underline"
              >{{ venture.linkedin_url }}
            </a>
          </td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Site Web</th>
          <td class="pr-8 text-gray-800 py-4">
            <a [href]="venture.website" target="_blank" class="text-primary-600 hover:underline">
              {{ venture.website }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  } @if (!store.isLoading() && !store.venture()) {
  <h2 class="text-3xl font-semibold px-4 pt-6 pb-14">Aucune entreprise trouvée!</h2>
  }
</section>
