<div class="lg:hidden">
  @let user = authStore.user();
  <button (click)="toggleNav()">
    <i-lucide [name]="isOpen() ? icons.close : icons.menu" class="size-6" />
  </button>
  <div
    class="fixed top-16 left-0 bottom-0 w-full bg-white transition-transform duration-300 border-t border-gray-300"
    [ngClass]="isOpen() ? 'translate-x-0' : 'translate-x-full'">
    <div class="inline-flex flex-col justify-between py-10 px-8 h-full text-gray-900 w-full">
      <div class="flex flex-col items-start gap-4 w-full">
        @for (link of links(); track $index; let i = $index) {
        <div class="w-full">
          @if (link.children?.length) {
          <button
            class="flex justify-between items-center w-full px-4 py-2 text-lg font-medium text-gray-800 border-b border-gray-200"
            (click)="toggleLink(i)">
            {{ link.name }}
            <i-lucide
              class="size-5 transition-transform duration-300"
              [ngClass]="{ 'rotate-90': link.open }"
              [name]="icons.chevronRight" />
          </button>

          <div
            class="flex flex-col bg-gray-50 transition-all duration-300 overflow-hidden"
            [style.maxHeight]="link.open ? (link.children?.length ?? 0) * 48 + 'px' : '0px'">
            @for (sublink of link.children; track $index) {
            <a
              routerLinkActive="bg-primary-100 text-primary-600"
              [routerLink]="sublink.path"
              [routerLinkActiveOptions]="{
                      exact: sublink.exactUrl || false,
                    }"
              class="flex gap-2 items-center text-lg px-6 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 transition-colors duration-200">
              <i-lucide [name]="icons.plus" class="size-3 text-inherit stroke-1" />
              {{ sublink.name }}
            </a>
            }
          </div>
          } @else {
          <a
            [routerLink]="link.path"
            routerLinkActive="text-primary-600"
            [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
            class="flex gap-2 text-lg w-full px-4 py-2 font-medium text-gray-800 border-b border-gray-200 hover:text-primary-500">
            {{ link.name }}
          </a>
          }
        </div>
        }
      </div>

      <div>
        @if (authStore.user()) {
        <div class="">
          <button class="group relative flex items-center w-full gap-1">
            <div
              class="flex items-center gap-3 border-1 border-primary-500 rounded-lg w-full px-4 py-2 hover:bg-gray-100 transition-colors duration-200">
              <div class="relative h-8 w-8">
                <img
                  [ngSrc]="user | apiIMG: 'user'"
                  alt="User Image"
                  class="aspect-video object-cover ring-2 ring-primary-600 bg-gray-200 rounded-full"
                  fill />
              </div>
              <span>{{ user?.name }}</span>
            </div>
            <div
              class="invisible absolute bottom-16 border border-gray-200 bg-white right-0 w-full mt-2 opacity-0 transition-all duration-300 group-hover:visible group-hover:opacity-100">
              <div class="text-left flex flex-col divide-y divide-gray-200 py-2">
                <div class="flex flex-col px-4 py-2">
                  <a
                    [routerLink]="'/dashboard'"
                    class="block text-lg rounded-lg px-4 py-2 font-medium text-gray-700 transition-colors duration-200 hover:bg-primary-100 hover:text-primary-600">
                    Mon compte
                  </a>
                </div>
                <div class="flex flex-col px-4 py-2">
                  <button
                    class="flex rounded-lg text-lg px-4 py-2 font-medium text-gray-700 transition-colors duration-200 hover:bg-primary-100 hover:text-primary-600"
                    (click)="onSignOut()">
                    Se déconnecter
                  </button>
                </div>
              </div>
            </div>
          </button>
        </div>
        } @else {
        <div class="w-full space-y-4">
          <a
            routerLink="/sign-in"
            class="relative inline-flex w-full items-center justify-center px-6 py-3 rounded-full border-1 border-primary-500 font-semibold text-primary-500 overflow-hidden group transition duration-300 ease-out hover:text-white">
            <span
              class="absolute inset-0 bg-primary-500 scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300 ease-out">
            </span>
            <span class="relative">Connexion</span>
          </a>

          <a
            routerLink="/sign-up"
            class="relative inline-flex w-full items-center justify-center px-6 py-3 rounded-full border-primary-500 border-2 font-semibold text-white overflow-hidden group transition duration-300 ease-out">
            <span
              class="absolute inset-0 bg-primary-500 scale-x-100 group-hover:scale-x-0 transition-transform origin-right duration-300 ease-out"></span>
            <span class="relative group-hover:text-primary-500">Inscription</span>
          </a>
        </div>
        }
      </div>
    </div>
  </div>
</div>
