<form class="border border-gray-200 rounded-lg p-4 md:bg-white md:p-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
    <app-ui-input label="Email" [id]="'email'" formControlName="email" class="w-full" placeholder="exemple@email.com" />
    <app-ui-input
      label="Nom complet"
      [id]="'name'"
      formControlName="name"
      class="w-full"
      placeholder="Nom de l'utilisateur" />
    <app-ui-input
      label="Numéro de téléphone"
      [id]="'phone_number'"
      formControlName="phone_number"
      class="w-full"
      placeholder="+243 XXX XXX XXX" />
    <app-ui-select
      [id]="'gender'"
      label="Genre"
      [options]="genders"
      formControlName="gender"
      placeholder="Sélectionner un genre"
      class="w-full" />
    <app-ui-input label="Ville" [id]="'city'" formControlName="city" class="w-full" placeholder="Ex: Kinshasa" />
    <app-ui-input
      label="Pays"
      [id]="'country'"
      formControlName="country"
      class="w-full"
      placeholder="Ex: République Démocratique du Congo" />
    <app-ui-datepicker [id]="'birth_date'" label="Date de naissance" formControlName="birth_date" class="w-full" />
    <app-ui-multi-select
      [id]="'roles'"
      label="Rôles"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      [options]="rolesStore.allRoles()"
      formControlName="roles"
      placeholder="Sélectionner un ou plusieurs rôles" />
  </div>
  <div class="flex justify-end gap-3 mt-8 pt-6 border-t border-gray-200">
    <app-ui-button
      [size]="'small'"
      [loading]="store.isLoading()"
      [disabled]="store.isLoading() || form.invalid"
      type="submit"
      variant="primary">
      Modifier l'utilisateur
    </app-ui-button>
  </div>
</form>
