<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-6">
    <app-ui-input
      label="Titre de l'article"
      [id]="'title'"
      formControlName="title"
      [placeholder]="'Ex: Les tendances du développement web en 2025'" />
    <app-ui-multi-select
      label="Tags de l'article"
      [required]="true"
      [id]="'tags'"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      [display]="'chip'"
      [options]="tagsStore.allTags()"
      formControlName="tags" />
    <app-ui-text-editor
      formControlName="content"
      [minHeight]="'400px'"
      [placeholder]="'Commencez à écrire votre article...'"
      [id]="'content'" />

    <div class="px-8 py-6 border-t border-gray-100 flex items-center justify-between">
      <div class="flex items-center gap-2 text-sm text-gray-600">
        <i-lucide [img]="icons.Info" [size]="16" />
        <span>Les champs marqués d'un <span class="text-red-500">*</span> sont obligatoires</span>
      </div>
      <div class="flex items-center gap-3">
        <app-ui-button
          [type]="'submit'"
          [variant]="'primary'"
          [size]="'small'"
          [loading]="updateStore.isLoading()"
          [disabled]="updateStore.isLoading() || form.invalid">
          Mettre à jour
        </app-ui-button>
      </div>
    </div>
  </div>
</form>
