<div class="w-full rounded-lg overflow-hidden hover:shadow-xl bg-white transition-all duration-300">
  <div class="relative h-40 w-full rounded-t bg-gray-200">
    <img
      [ngSrc]="venture() | apiIMG: 'venture'"
      [alt]="venture().name"
      class="aspect-video object-cover rounded border-2 border-slate-200/10"
      fill />
  </div>
  <div class="px-5 py-4">
    <div class="font-bold text-lg mb-2 text-gray-900 line-clamp-1">{{ venture().name }}</div>
    <p class="text-gray-700 line-clamp-2">{{ venture().description }}</p>
  </div>
  <div class="flex items-center flex-wrap w-full gap-2 px-5 pb-6">
    <a pButton severity="primary" outlined [routerLink]="['/dashboard/ventures/view', venture().slug]">
      <i-lucide [name]="icons.eye" class="size-4 text-inherit" />
    </a>
    <a pButton severity="secondary" outlined [routerLink]="['/dashboard/ventures/update', venture().slug]">
      <i-lucide [name]="icons.edit" class="size-4 text-inheri" />
    </a>
    <p-button severity="danger" outlined (click)="onDeleteVenture(venture().id, $event)">
      <div class="relative">
        <p-confirmpopup />
        <i-lucide [name]="icons.trash" class="size-4" />
      </div>
    </p-button>
  </div>
</div>
