@let stats = store.stats(); @let user = authStore.user();
<div class="flex flex-wrap gap-6 px-4">
  @if (user) {
  <div
    class="flex flex-col md:flex-row items-center justify-between w-full gap-4 mt-2 bg-primary-500 p-6 rounded-lg shadow-md text-white">
    <div class="flex items-center gap-4">
      <i-lucide [name]="icons.hand" class="size-16 md:size-20 stroke-1 rotate-1 opacity-90" />
      <div>
        <p class="text-xl font-semibold">Bonjour, {{ user.name }}</p>
        <p class="text-sm md:text-base text-white/90">Heureux de vous revoir 👋</p>
      </div>
    </div>

    <span class="text-sm md:text-base text-white/90 font-medium text-center md:text-right">
      Bienvenue sur la plateforme <strong>Cinolu OneStop</strong>
    </span>
  </div>

  }

  <div class="w-full mt-4 mb-2 text-lg font-semibold">
    <p class="text-gray-500 font-satoshi">Statistiques personnelles</p>
  </div>
  <div
    class="flex flex-col gap-1 max-sm:w-full max-w-sm w-60 p-6 items-center bg-white rounded-lg shadow-md hover:shadow-2xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-[1.03] cursor-pointer group">
    <div class="flex items-center justify-between w-full gap-4">
      <span class="text-gray-600 text-base font-medium">Entreprises</span>

      <span
        class="p-2 rounded-lg transition-colors duration-300 group-hover:bg-primary-500/10 flex items-center justify-center">
        <i-lucide
          [img]="icons.ventures"
          size="40"
          class="text-primary-500 stroke-1 transition-transform duration-500 group-hover:scale-110" />
      </span>
    </div>

    <div class="flex items-center gap-3 justify-between w-full mt-2">
      <span
        class="text-xl md:text-4xl lg:text-5xl font-satoshi font-black transition-all duration-300 transform group-hover:-translate-y-1"
        [ngClass]="{
          'text-primary-500 group-hover:text-primary-600': stats?.totalVentures,
          'text-red-400 group-hover:text-red-300': !stats?.totalVentures
        }">
        {{ stats?.totalVentures }}
      </span>

      <div
        class="flex items-end gap-1 text-sm font-medium transition-colors duration-300"
        [ngClass]="{
          'text-primary-500 group-hover:text-primary-600': stats?.totalVentures ,
          'text-red-400 group-hover:text-red-300': stats?.totalVentures === 0
        }">
        <i-lucide [name]="icons.trendingUp" class="h-4 w-4 stroke-2" />
        <span>+{{ stats?.totalVentures }} tous les temps</span>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col gap-1 max-sm:w-full max-w-sm w-60 p-6 items-center bg-white rounded-lg shadow-md hover:shadow-2xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-[1.03] cursor-pointer group">
    <div class="flex items-center justify-between w-full gap-4">
      <span class="text-gray-600 text-base font-medium">Partages</span>

      <span
        class="p-2 rounded-lg transition-colors duration-300 group-hover:bg-green-500/10 flex items-center justify-center">
        <i-lucide
          [img]="icons.share"
          size="40"
          class="text-green-500 stroke-1 transition-transform duration-500 group-hover:scale-110" />
      </span>
    </div>

    <div class="flex items-center gap-3 justify-between w-full mt-2">
      <span
        class="text-xl md:text-4xl lg:text-5xl font-satoshi font-black transition-all duration-300 transform group-hover:-translate-y-1"
        [ngClass]="{
          'text-green-500 group-hover:text-green-600': stats?.referralsCount ,
          'text-red-400 group-hover:text-red-300': stats?.referralsCount === 0
        }">
        {{ stats?.referralsCount }}
      </span>

      <div
        class="flex items-end gap-1 text-sm font-medium transition-colors duration-300"
        [ngClass]="{
          'text-green-500 group-hover:text-green-600': stats?.referralsCount,
          'text-red-400 group-hover:text-red-300': !stats?.referralsCount
        }">
        <i-lucide [name]="icons.trendingUp" class="h-4 w-4 stroke-2" />
        <span>+{{ stats?.referralsCount }} tous les temps</span>
      </div>
    </div>
  </div>
</div>
