<section class="text-gray-600">
  @let isLoading = store.isLoading(); @let hasQuery = queryParams().q; @let articleCount = store.articles()[1]; @let
  articleList = store.articles()[0];
  <div class="relative bg-white rounded-lg pb-10">
    <div class="flex flex-col gap-3 mb-10 pt-6">
      <div class="px-6 flex flex-wrap gap-2 md:justify-between md:items-center mb-6 md:mb-0">
        <h5 class="text-lg font-bold">
          Liste des articles
          <span class="text-gray-500">
            @if (isLoading) {
            <p-progress-spinner
              strokeWidth="5"
              animationDuration=".5s"
              fill="transparent"
              [style]="{ width: '0.8rem', height: '0.8rem' }" />
            } @else { [{{ articleCount | json }}] }
          </span>
        </h5>
        <a
          pButton
          outlined
          [size]="'small'"
          [routerLink]="['/dashboard/blog/articles/add']"
          class="flex items-center gap-2">
          <i-lucide [name]="icons.plus" class="size-4" />
          Ajouter un article
        </a>
      </div>
      <form [formGroup]="searchForm" class="px-6 flex flex-col gap-1 md:flex-row md:gap-4">
        <input pInputText class="md:w-1/3" id="search" formControlName="q" placeholder="Rechercher..." />
      </form>
    </div>
    @if (articleCount === 0 && !isLoading) {
    <h4 class="font-medium text-gray-700 text-lg px-6 pb-8">
      {{ hasQuery ? 'Aucun article trouvé avec ce filtre' : 'Aucun événement trouvé' }}
    </h4>
    } @if (isLoading) {
    <div class="grid grid-cols-5 mx-6 my-6 border border-gray-200 rounded-lg">
      @for (i of skeletonArray; track $index) {
      <div class="border-y border-gray-200 py-3 px-6">
        <div class="h-4 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
      </div>
      }
    </div>
    } @if (articleCount > 0 && !isLoading) {
    <div class="relative flex flex-col overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
      <table class="text-left rtl:text-right text-gray-500">
        <thead class="font-black text-gray-800 bg-gray-100">
          <tr>
            <th class="px-6 py-3">Image</th>
            <th class="px-6 py-3">Titre</th>
            <th class="px-6 py-3">Status</th>
            <th class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for ( article of articleList | paginate : { itemsPerPage: 40, currentPage: queryParams().page || 1,
          totalItems: articleCount, }; track article.id ) {
          <tr class="border-b border-gray-200 last:border-none">
            <td class="px-6 py-2">
              <p-avatar [image]="article | apiIMG: 'article'" />
            </td>
            <td class="px-6 py-2 font-medium w-80 hyphens-auto">{{ article.title | titlecase }}</td>
            <td class="px-6 py-2 text-xs capitalize font-medium w-32">
              @if (isPublished(article)) {
              <span class="text-primary-500 bg-primary-400/20 rounded py-1 px-1.5"> publié </span>
              } @else {
              <span class="text-red-500 bg-red-400/20 rounded py-1 px-2"> non publié </span>
              }
            </td>
            <td class="px-6 py-2">
              <div class="flex items-center gap-2">
                <button pButton outlined severity="success" (click)="highlightArticle(article.id)">
                  @if (article.is_highlighted) {
                  <i-lucide [name]="icons.star" class="size-4 ]" />
                  } @else {
                  <i-lucide [name]="icons.starOff" class="size-4" />
                  }
                </button>
                <a pButton outlined severity="info" [routerLink]="['/dashboard/blog/articles/edit', article.slug]">
                  <i-lucide [name]="icons.edit" class="size-4" />
                </a>
                <button pButton outlined severity="danger" (click)="onDeleteArticle(article.id, $event)">
                  <p-confirmpopup />
                  <i-lucide [name]="icons.trash" class="size-4" />
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (articleCount > 40) {
    <div class="flex justify-center items-center gap-3 py-8">
      <pagination-controls
        nextLabel=""
        previousLabel=""
        [autoHide]="true"
        [maxSize]="5"
        (pageChange)="onPageChange($event)"
        class="pg" />
    </div>
    }
  </div>
</section>
