@let isLoading = store.isLoading(); @let hasQuery = queryParams().q; @let programCount = store.programs()[1]; @let
programList = store.programs()[0];
<div class="relative bg-white rounded-lg pb-12">
  <div class="flex flex-col gap-3 mb-10 pt-6">
    <div class="px-6 flex flex-col md:flex-row gap-2 md:justify-between md:items-center mb-6 md:mb-0">
      <h5 class="text-lg font-bold">
        Liste des programmes
        <span class="text-gray-500">
          @if (isLoading) {
          <p-progress-spinner
            strokeWidth="5"
            animationDuration=".5s"
            fill="transparent"
            [style]="{ width: '0.8rem', height: '0.8rem' }" />
          } @else { ({{ programCount }}) }
        </span>
      </h5>
      <a [routerLink]="'/dashboard/programs/add'" pButton [outlined]="true" [size]="'small'">
        <i-lucide [name]="icons.plus" class="size-4" />
        Ajouter un programme
      </a>
    </div>
  </div>
  @if (programCount === 0 && !isLoading) {
  <div
    class="mx-6 flex flex-col items-center justify-center py-16 px-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-2xl border-2 border-dashed border-gray-300">
    <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center shadow-sm mb-6">
      <i-lucide [name]="icons.plus" class="text-gray-400 w-10 h-10 stroke-[1.5]" />
    </div>
    <h3 class="text-2xl font-bold text-gray-800 mb-3">
      {{ hasQuery ? 'Aucun programme trouvé avec ce filtre' : 'Aucun programme trouvé' }}
    </h3>
    <p class="text-gray-600 text-center max-w-md mb-6">
      @if (hasQuery) { Essayez de modifier vos critères de recherche pour trouver des programmes. } @else { Commencez
      par créer votre premier programme pour structurer vos activités. }
    </p>
    @if (!hasQuery) {
    <a
      pButton
      [size]="'small'"
      [routerLink]="'/dashboard/programs/add'"
      class="flex items-center gap-2 bg-primary-600 text-white hover:bg-primary-700 transition-colors duration-200">
      <i-lucide [name]="icons.plus" class="size-4" />
      <span class="font-medium">Créer un programme</span>
    </a>
    }
  </div>
  } @if (isLoading) {
  <div class="grid grid-cols-5 overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
    @for (i of skeletonArray; track $index) {
    <div class="border-y border-gray-200 py-3 px-6">
      <div class="h-4 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
    </div>
    }
  </div>
  } @if (programCount > 0 && !isLoading) {
  <div class="relative flex flex-col overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
    <table class="text-left rtl:text-right text-gray-500">
      <thead class="font-black text-gray-800 border-y border-gray-200 bg-gray-100">
        <tr>
          <th class="px-6 py-3">Logo</th>
          <th class="px-6 py-3">Nom</th>
          <th class="px-6 py-3">Status</th>
          <th class="px-6 py-3">Créé le</th>
          <th class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for ( program of programList | paginate : { itemsPerPage: 40, currentPage: queryParams().page || 1, totalItems:
        programCount, }; track program.id ) {
        <tr class="border-b border-gray-200 last:border-none">
          <td class="px-6 py-2">
            <p-avatar
              [image]="program | apiIMG: 'program'"
              [size]="'large'"
              [style]="{ width: '48px', height: '48px' }" />
          </td>
          <td class="px-6 py-2 font-medium text-gray-900 w-80 hyphens-auto">{{ program.name | titlecase }}</td>
          <td class="px-6 py-2 text-xs capitalize font-medium w-32">
            @if (program.is_published) {
            <span class="text-primary-500 bg-primary-400/20 rounded py-1 px-1.5"> publié </span>
            } @else {
            <span class="text-red-500 bg-red-400/20 rounded py-1 px-2"> dépublié </span>
            }
          </td>
          <td class="px-6 py-2">{{ program.created_at | date: 'longDate' }}</td>
          <td class="px-6 py-2">
            <div class="flex items-center gap-2">
              <button pButton outlined severity="success" (click)="highlightProgram(program.id)">
                @if (program.is_highlighted) {
                <i-lucide [name]="icons.star" class="size-4" />
                } @else {
                <i-lucide [name]="icons.starOff" class="size-4" />
                }
              </button>
              <button pButton outlined severity="primary" (click)="onPublishProgram(program.id)">
                @if (!program.is_published) {
                <i-lucide [name]="icons.eyeOff" class="size-4" />
                } @else {
                <i-lucide [name]="icons.eye" class="size-4" />
                }
              </button>
              <a [routerLink]="['/dashboard/programs/edit', program.slug]" pButton outlined severity="info">
                <i-lucide [name]="icons.edit" class="size-4" />
              </a>
              <button pButton outlined severity="danger" (click)="onDeleteRole(program.id, $event)">
                <div class="relative">
                  <p-confirmpopup />
                  <i-lucide [name]="icons.trash" class="size-4" />
                </div>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (programCount > 40) {
  <div class="flex justify-center items-center gap-3 py-8">
    <pagination-controls
      nextLabel=""
      previousLabel=""
      [autoHide]="true"
      [maxSize]="5"
      (pageChange)="onPageChange($event)"
      class="pg" />
  </div>
  }
</div>
