<section class="text-gray-600">
  @let isLoading = store.isLoading(); @let hasQuery = queryParams().q; @let categoryCount = store.categories()[1]; @let
  categoryList = store.categories()[0];
  <div class="relative bg-white rounded-lg pb-12">
    <div class="flex flex-col gap-3 mb-10 pt-6">
      <div class="px-6 flex flex-wrap gap-2 md:justify-between md:items-center mb-6 md:mb-0">
        <h5 class="text-lg font-bold">
          Liste des catégories
          <span class="text-gray-500">
            @if (isLoading) {
            <p-progress-spinner
              strokeWidth="5"
              animationDuration=".5s"
              fill="transparent"
              [style]="{ width: '0.8rem', height: '0.8rem' }" />
            } @else { ({{ categoryCount }}) }
          </span>
        </h5>
        <p-button [outlined]="true" [size]="'small'" (click)="onToggleAddModal()">
          <i-lucide [name]="icons.plus" class="size-4" />
          Ajouter une catégorie
        </p-button>
      </div>
      <form [formGroup]="searchForm" class="px-6 flex flex-col gap-1 md:flex-row md:gap-4">
        <input class="md:w-1/3" pInputText id="q" formControlName="q" placeholder="Rechercher..." />
      </form>
    </div>
    @if (categoryCount === 0 && !isLoading) {
    <div
      class="mx-6 flex flex-col items-center justify-center py-16 px-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-2xl border-2 border-dashed border-gray-300">
      <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center shadow-sm mb-6">
        <i-lucide [name]="icons.plus" class="text-gray-400 w-10 h-10 stroke-[1.5]" />
      </div>
      <h3 class="text-2xl font-bold text-gray-800 mb-3">
        {{ hasQuery ? 'Aucune catégorie trouvée avec ce filtre' : 'Aucune catégorie trouvée' }}
      </h3>
      <p class="text-gray-600 text-center max-w-md mb-6">
        @if (hasQuery) { Essayez de modifier vos critères de recherche pour trouver des catégories. } @else { Commencez
        par ajouter votre première catégorie pour organiser vos programmes. }
      </p>
      @if (!hasQuery) {
      <p-button
        [size]="'small'"
        (click)="onToggleAddModal()"
        class="flex items-center gap-2 bg-primary-600 text-white hover:bg-primary-700 transition-colors duration-200">
        <i-lucide [name]="icons.plus" class="size-4" />
        <span class="font-medium">Ajouter une catégorie</span>
      </p-button>
      }
    </div>
    } @if (isLoading) {
    <div class="grid grid-cols-2 overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
      @for (i of skeletonArray; track $index) {
      <div class="border-y border-gray-200 py-3 px-6">
        <div class="h-4 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
      </div>
      }
    </div>
    } @if (categoryCount > 0 && !isLoading) {
    <div class="relative flex flex-col overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
      <table class="text-left rtl:text-right text-gray-500">
        <thead class="font-black text-gray-800 border-y border-gray-200 bg-gray-100">
          <tr>
            <th class="px-6 py-3">Nom</th>
            <th class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for ( category of categoryList | paginate : { itemsPerPage: 40, currentPage: queryParams().page || 1,
          totalItems: categoryCount, }; track category.id ) {
          <tr class="border-b border-gray-200 last:border-none">
            <td class="px-6 py-2 font-medium text-gray-900">{{ category.name | titlecase }}</td>
            <td class="px-6 py-2">
              <div class="flex items-center gap-2">
                <button pButton outlined severity="info" (click)="onToggleEditModal(category)">
                  <i-lucide [name]="icons.edit" class="size-4" />
                </button>
                <button pButton outlined severity="danger" (click)="onDeleteCategory(category.id, $event)">
                  <div class="relative">
                    <p-confirmpopup />
                    <i-lucide [name]="icons.trash" class="size-4" />
                  </div>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (categoryCount > 40) {
    <div class="flex justify-center items-center gap-3 py-8">
      <pagination-controls
        nextLabel=""
        previousLabel=""
        [autoHide]="true"
        [maxSize]="5"
        (pageChange)="onPageChange($event)"
        class="pg" />
    </div>
    }
  </div>

  <p-dialog [(visible)]="showAddModal" [closable]="false" [modal]="true" [style]="{ width: '25rem' }">
    <form class="flex flex-col gap-4" [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()">
      <div class="flex flex-col gap-1.5">
        <label for="name" class="font-medium"> Nom de la catégorie<span class="text-red-500">*</span> </label>
        <input pInputText type="text" id="name" name="name" formControlName="name" />
      </div>
      <div class="flex justify-end gap-4 flex-wrap">
        <p-button size="small" variant="outlined" severity="danger" class="font-satoshi" (onClick)="onToggleAddModal()">
          Annuler
        </p-button>
        <p-button
          size="small"
          severity="primary"
          class="font-satoshi"
          [disabled]="!addCategoryForm.valid || addCategoryStore.isLoading()"
          [loading]="addCategoryStore.isLoading()"
          (onClick)="onAddCategory()">
          Ajouter la catégorie
        </p-button>
      </div>
    </form>
  </p-dialog>

  <p-dialog [(visible)]="showEditModal" [closable]="false" [modal]="true" [style]="{ width: '25rem' }">
    <form class="flex flex-col gap-4" [formGroup]="updateCategoryForm" (ngSubmit)="onUpdateCategory()">
      <div class="flex flex-col gap-1.5">
        <label for="name" class="font-medium"> Nom du catégorie<span class="text-red-500">*</span> </label>
        <input pInputText type="text" id="name" name="name" formControlName="name" />
      </div>
      <div class="flex justify-end gap-4 flex-wrap">
        <p-button
          size="small"
          variant="outlined"
          severity="danger"
          class="font-satoshi"
          (onClick)="onToggleEditModal(null)">
          Annuler
        </p-button>
        <p-button
          size="small"
          severity="primary"
          class="font-satoshi"
          [disabled]="!updateCategoryForm.valid || updateCategoryStore.isLoading()"
          [loading]="updateCategoryStore.isLoading()"
          (onClick)="onUpdateCategory()">
          Modifier la catégorie
        </p-button>
      </div>
    </form>
  </p-dialog>
</section>
