<div class="ui-select-wrapper" [class.ui-select-disabled]="disabled()">
  @if (label()) {
  <label [for]="id()" class="ui-select-label">
    {{ label() }} @if (required()) {
    <span class="text-red-500">*</span>
    }
  </label>
  }
  <div class="ui-select-container">
    <select
      [id]="id()"
      [disabled]="disabled()"
      [class]="selectClasses()"
      (change)="onChange($event)"
      (blur)="onTouched()">
      @for (option of normalizedOptions(); track option.value) {
      <option [value]="option.value" [selected]="option.value === value" [disabled]="option.disabled">
        {{ option.label }}
      </option>
      }
    </select>
    <div class="ui-select-icon">
      <i-lucide [img]="icons.ChevronDown" class="size-4.5" />
    </div>
  </div>
</div>
