<div class="ui-select-wrapper" [class.ui-select-disabled]="disabled()">
  <select
    [id]="id()"
    [disabled]="disabled()"
    [class]="selectClasses()"
    [value]="value"
    (change)="onChange($event)"
    (blur)="onTouched()">
    @if (placeholder()) {
    <option value="" disabled selected>{{ placeholder() }}</option>
    } @for (option of normalizedOptions(); track option.value) {
    <option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</option>
    }
  </select>
  <div class="ui-select-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path d="m6 9 6 6 6-6" />
    </svg>
  </div>
</div>
