<section class="pt-32 dashboard-main-content">
  @if (store.user(); as user) {
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-2">Mon compte</h1>
    <p class="text-gray-600">Gérez vos informations personnelles et vos paramètres de sécurité</p>
  </div>

  <app-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />

  <div class="mt-6">
    @if (activeTab() === 'overview') {
    <app-account-overview [user]="user" />
    } @if (activeTab() === 'edit') {
    <app-account-edit />
    }
  </div>
  }
</section>
