<section class="pt-32 dashboard-main-content flex flex-col gap-4">
  @let article = articleStore.article();
  <app-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />

  @if (activeTab() === 'edit' && article) {
  <app-article-edit-form [article]="article" />
  } @if (activeTab() === 'gallery' && article) {
  <app-article-gallery
    [article]="article"
    [gallery]="galleryStore.gallery()"
    [isLoading]="articleStore.isLoading()"
    (coverUploaded)="onCoverUploaded()"
    (galleryUploaded)="onGalleryUploaded()"
    (deleteImage)="onDeleteImage($event)" />
  }
</section>
