<section class="w-full px-4">
  <div
    class="flex flex-wrap items-center justify-between w-full mb-10 bg-white rounded-lg h-auto md:h-32 px-6 md:px-8 py-4 shadow-sm hover:shadow-md transition-all duration-300">
    <div class="flex items-center gap-3 text-xl md:text-2xl font-bold font-satoshi text-gray-900">
      <span
        class="hidden md:flex items-center justify-center border border-primary-500/50 p-2 rounded-md text-primary-600 bg-primary-50">
        <i-lucide [name]="icons.company" class="size-5 md:size-6" />
      </span>
      <span>Mes entreprises</span>
    </div>
    <p-button
      [routerLink]="'/dashboard/ventures/add'"
      [size]="'small'"
      variant="outlined"
      class="flex items-center gap-2 border-primary-500 text-primary-600 hover:bg-primary-50 transition-colors duration-200">
      <i-lucide [name]="icons.plus" class="size-4" />
      <span class="hidden sm:block font-medium">Nouvelle entreprise</span>
    </p-button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
    @if (store.ventures()[0] && !store.isLoading()) { @for ( venture of store.ventures()[0] | paginate : { itemsPerPage:
    10, currentPage: queryParams().page || 1, totalItems: store.ventures()[1] }; track venture.id ) {
    <app-venture-card [venture]="venture" />
    } } @if (store.ventures()[1] <= 0 && !store.isLoading()) {
    <div
      class="col-span-full flex flex-col items-center justify-center py-16 px-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-2xl border-2 border-dashed border-gray-300">
      <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center shadow-sm mb-6">
        <i-lucide [name]="icons.company" class="text-gray-400 w-10 h-10 stroke-[1.5]" />
      </div>
      <h3 class="text-2xl font-bold text-gray-800 mb-3">Aucune entreprise trouvée</h3>
      <p class="text-gray-600 text-center max-w-md mb-6">
        Vous n'avez pas encore créé d'entreprise. Commencez par ajouter votre première entreprise pour gérer vos
        activités.
      </p>
      <a pButton [routerLink]="'/dashboard/ventures/add'" [size]="'small'">
        <i-lucide [name]="icons.plus" class="size-4" />
        <span class="font-medium">Créer une entreprise</span>
      </a>
    </div>
    } @if (store.isLoading()) { @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
    <app-venture-card-skeleton />
    } }
  </div>

  @if (store.ventures()[1] > 10) {
  <div class="flex items-center justify-center py-10">
    <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
  </div>
  }
</section>
