@let isLoading = store.isLoading(); @let articleCount = store.articles()[1]; @let articles = store.articles()[0];
<div class="relative bg-white rounded-xl shadow-sm pb-12">
  <div class="px-6 pt-6 pb-4 border-b border-gray-100">
    <div class="flex flex-col md:flex-row gap-4 md:justify-between md:items-center mb-4">
      <div>
        <h5 class="text-2xl font-bold text-gray-900 mb-1">
          Articles @if (!isLoading) {
          <span class="text-gray-400 text-sm">• {{ articleCount }} au total</span>
          }
        </h5>
      </div>
      <a [routerLink]="'/blog/articles/add'" class="ui-button ui-button-small ui-button-primary">
        <i-lucide [name]="icons.Plus" class="size-4" />
        Nouvel article
      </a>
    </div>
    <form [formGroup]="searchForm" class="search-input-wrapper">
      <div class="search-input-group">
        <div class="search-input-icon">
          <i-lucide [name]="icons.Search" class="search-input-icon-svg" />
        </div>
        <input type="text" formControlName="q" placeholder="Rechercher un article..." class="search-input" />
      </div>
    </form>
  </div>

  <div class="px-6 my-4">
    <ui-tabs [tabs]="tabsConfig()" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
  </div>

  <div class="px-4 sm:px-6 mt-6">
    @if (isLoading && articleCount === 0) {
    <ui-table-skeleton [rows]="10" [columns]="5" />
    } @if (articleCount > 0) {
    <div class="ui-table-wrapper">
      <table class="ui-table">
        <thead class="ui-table-head">
          <tr class="ui-table-head-row">
            <th class="ui-table-header">Image</th>
            <th class="ui-table-header">Titre</th>
            <th class="ui-table-header">Date</th>
            <th class="ui-table-header">Statut</th>
            <th class="ui-table-header">Actions</th>
          </tr>
        </thead>
        <tbody class="ui-table-body">
          @for (article of articles; track article.id) {
          <tr class="ui-table-row">
            <td class="ui-table-cell">
              <ui-avatar [image]="article | apiIMG : 'article'" [size]="48" />
            </td>
            <td class="ui-table-cell">
              <p class="font-semibold text-gray-900 w-full md:w-48 line-clamp-2">
                {{ article.title | titlecase }}
              </p>
            </td>
            <td class="ui-table-cell text-sm text-gray-600">
              {{ article.created_at | date : 'dd MMM yyyy' }}
            </td>
            <td class="ui-table-cell">
              @if (isPublished(article)) {
              <ui-badge [showDot]="true" [variant]="'success'" label="Publié" />
              } @else {
              <ui-badge [showDot]="true" label="Brouillon" />
              }
            </td>
            <td class="ui-table-cell">
              <div class="flex items-center gap-1">
                <button
                  (click)="showcaseArticle(article.id)"
                  [class]="article.is_highlighted ? 'action-button-highlight' : 'action-button-highlight-default'">
                  <i-lucide [img]="icons.Star" class="size-4" />
                  En avant
                </button>
                <a [routerLink]="['/blog/articles/edit', article.slug]" class="action-button-default">
                  <i-lucide [name]="icons.Pencil" class="size-4" />
                  Modifier
                </a>
                <button (click)="onDelete(article.id)" class="action-button-danger">
                  <i-lucide [name]="icons.Trash" class="size-4" />
                  Supprimer
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
    <div class="flex flex-col justify-end items-end">
      <ui-pagination
        [currentPage]="currentPage()"
        [totalItems]="articleCount"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)" />
    </div>
  </div>
  @if (articleCount === 0 && !isLoading) {
  <div class="mx-6 mt-16 flex flex-col items-center justify-center py-20 px-8">
    <div
      class="mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-primary-50 shadow-inner border border-primary-100">
      <i-lucide [name]="icons.Search" class="w-10 h-10 stroke-[1.5] text-primary-500" />
    </div>
    <h3 class="text-2xl font-bold text-gray-900 mb-2 text-center">Aucun article trouvé</h3>
    <p class="text-gray-500 text-center max-w-lg mb-8 text-base leading-relaxed">
      Nous n'avons trouvé aucun article correspondant à vos critères.<br />
    </p>
    <ui-button
      (clicked)="resetFilters()"
      variant="secondary"
      [outlined]="true"
      styleClass="text-base font-medium px-6 py-2.5 rounded-md shadow">
      <span class="flex items-center gap-2">
        <i-lucide [name]="icons.Funnel" class="w-5 h-5 text-primary-500" />
        <span>Réinitialiser les filtres</span>
      </span>
    </ui-button>
  </div>
  }
  <ui-confirm-dialog />
</div>
