<section class="pt-32 dashboard-main-content flex flex-col gap-4">
  @let event = eventsStore.event();
  <ui-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
  @if (eventsStore.isLoading()) {
  <app-event-details-skeleton />
  } @if (activeTab() === 'details' && event) {
  <app-event-details [event]="event" />
  } @if (activeTab() === 'gallery' && event) {
  <app-event-gallery
    [event]="event"
    [gallery]="galleryStore.gallery()"
    [isLoading]="galleryStore.isLoading()"
    (coverUploaded)="onCoverUploaded()"
    (galleryUploaded)="onGalleryUploaded()"
    (deleteImage)="onDeleteImage($event)" />
  } @if (activeTab() === 'edit' && event) {
  <app-event-edit-form [event]="event" />
  } @if (activeTab() === 'indicators') {
  <ui-metrics-table
    [indicators]="indicatorsStore.indicators()"
    [metricsMap]="metricsMap"
    [existingMetrics]="event?.metrics ?? []"
    [isLoading]="indicatorsStore.isLoading()"
    (saveAll)="onSaveMetrics()" />
  }
</section>
